.error {
    color: red;
}

.img_anuncio {
    width: auto;
}

.anuncio {
    height: 180px;
    width: auto;
}

.cont {
    white-space: nowrap;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}