.estrella {
    font-size: .65em;
}

.error {
    color: red;
}

.img_anuncio {
    /*height: 100%;*/
    width: auto;
}

.msj_container {
    background-color: #e6e6e6;
    min-height: 350px;
    border: 0.5px solid rgba(10, 10, 10, 0.25);
}

.msj,
.msj_sent,
.msj_received {
    margin-top: 10px;
    border-radius: 25px;
}

.msj_sent {
    border-bottom-right-radius: 0px;
    background-color: #eaeaea;
    color: #0a0a0a;
}

.msj_received {
    border-bottom-left-radius: 0px;
    background-color: white;
    color: #0a0a0a;
}

.msj_time {
    font-size: .6em;
    float: right;
    padding-top: 20px;
}

#msj_texto,
#msj_button {
    border-radius: 25px;
}

#msj_button {
    height: 40px;
}

.anuncio {
    height: 180px;
    width: 100%;
}

.anuncio .img_anuncio {
    max-height: 180px;
    max-width: 100%;
    vertical-align: middle;
}

.cont {
    white-space: nowrap;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.align {
    margin: auto;
}

.mapouter {
    text-align: right;
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none;
    height: 400px;
    width: 600px;
    margin-top: 4em;
}

.fondosMonedero {
    padding: .5rem;
    background-color: #eaeaea;
    border: 1px solid rgba(10, 10, 10, 0.25);
    width: 150px;
    height: 45px;
    margin: .5rem;
    margin-left: 0rem;
}

[class~=input-group-field],
[class~=input-group-label] {
    padding: 5px;
}

[class~=input-group-label] {
    min-width: 55px;
}

.margin-ext {
    margin: .5rem;
}

#Navigation_Bar_Logo {
    margin-right: 10px;
}

footer {
    padding: 80px 0px 40px 0px;
    background-color: darkslategray;
    color: white;
    margin-top: 10px;
}

footer a {
    display: block;
}

header {
    padding: 0px 0px 20px 0px;
}

.imagendeanuncio {
    display: block;
    margin-left: auto;
    width: 400px;
    float: right;
}

.faq {
    font-size: 30px;
}

#faqtitle {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #cont {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        flex-direction: column;
    }
    #pic {
        order: 2;
    }
    #text {
        order: 1;
    }
}