#Navigation_Bar_Logo {
    margin-right: 10px;
}

footer {
    padding: 80px 0px 40px 0px;
    background-color: darkslategray;
}

footer a {
    display: block;
}

header {
    padding: 0px 0px 80px 0px;
}

.mainb {
    padding: 0px 0px 100px 0px;
}
.imagendeanuncio {
    display: block;
    margin-left: auto;
    width: 400px;
    float: right;
}